.cart-modal {
	background-color: white;
	padding: 1rem;
}

.cart-header {
	text-align: center;
	font-size: larger;
	font-weight: bolder;
	color: purple;
}

.cart-display {
	background-color: white;
}

.cart-list {
	margin: 0;
	padding: 0;
}

.cart-total {
	display: flex;
	padding: 1.5rem;
	justify-content: flex-end;
	align-items: center;
}

.cart-total div {
	padding: 0.5rem;
	font-size: x-large;
	font-style: oblique;
	font-weight: 600;
}

.order-button {
	text-align: right;
}

.order-button button {
	padding: 1em;
}

.order-common {
	padding: 2em;
	background-color: white;
	font-size: larger;
	margin: 0 auto;
}

.order-submitting {
	width: 20%;
}

.order-submitted {
	padding: 2em;
	background-color: white;
	font-size: larger;
	text-align: center;
}
