.header {
	color: purple;
	text-align: center;
}

.checkout-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.user-info-form {
	display: flex;
	justify-content: space-around;
	flex: 1 2;
}

.contact-info-form {
	display: flex;
	gap: 0.5em;
	justify-content: space-around;
	flex-direction: column;
}

.contact-info-form div {
	display: flex;
	gap: 0.5em;
	justify-content: space-between;
}

.checkout-form div label {
	font-size: 1.5rem;
	font-weight: 500;
}

.checkout-form div input {
	font-family: inherit;
	font-size: large;
}

.address-form-wrapper {
	border-radius: 4px;
	font-family: inherit;
	font-size: large;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.address-form {
	display: flex;
	gap: 0.5em;
}

.address-form textarea {
	resize: none;
	font-family: inherit;
	font-size: 1rem;
}

.invalid-form {
	background-color: rgb(247, 134, 134);
	border-color: red;
}

.error-message {
	text-align: center;
	margin: 0;
	color: red;
}

.buttons {
	margin-top: 1rem;
	display: flex;
	justify-content: flex-end;
	gap: 1em;
	margin-right: 2em;
}

.buttons button {
	padding: 1em 2em;
}
